html {
  margin: 0;
  font-size: 10px;
  box-sizing: border-box;
}

/* body {
  position: relative;
} */

.game-container {
  margin: 5rem 0 10rem 0;
  position: relative;
}

.title {
  display: inline-block;
  width: 600px;
  text-align: center;
  font: 10rem 'Cookie', cursive;
  background: linear-gradient(to right, #EF476F, 30%, #FFD166, 70%, #118AB2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  margin: 0;
  position: relative;
     left: 50%;
     transform: translateX(-50%);
}

.top-options {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-buttons {
  display: flex;
  position: relative;

  /* width: 6rem;
  height: 6rem;
  position: absolute;
  left: 14%; */
  /* position: relative;
  width: 14rem;
  top: ;
  left: 14%;
  z-index: 2; */
}

.mute, .reset {
  width: 6rem;
  height: 6rem;
  /* position: relative; */
}

.mute {
  margin-right: 1rem;
}

.reset {
  margin-left: 1rem;
  /* left: 11%; */
}

.tab-container {
  display: inline-flex;
  display: -webkit-inline-flex;
  position: relative;
  top: 15px;
  margin-left: 1rem;
  width: 70%;
  /* left: 25%; */
  /* margin: 0 auto; */
  /* justify-content: end; */
  /* this isn't working on the ipad */
  /* -webkit-justify-content: end; */
  /* width: 100%; */
  
  /* position: relative; */
  
  /* left: 32%; */
  
}

.tabs {
  height: 9rem;
  width: 15%;
  border-radius: 10px;
  z-index: 1;
}

.tabs img {
  width: 30%;
  display: block;
  margin: 15px auto;
}

.ocean-tab {
  background: #EF476F;
}

.rainforest-tab {
  background: #FFD166;
}

.town-tab {
  background: #06D6A0;
}

.space-tab {
  background: #118AB2;
}

.christmas-tab {
  background: #073B4C;
}

.game-board {
  width: 80%;
  /* min-width: 85%; */
  margin: 0 auto;
  background: gray;
  /* background-color: #073B4C; */
  display: flex;
  border-radius: 10px;
  position: relative;
  z-index: 2;
}

.search-items {
  display: block;
  min-width: 20%;
  border: solid 1rem gray;
  /* border: solid 1rem #073B4C; */
  border-right: white;
  background: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  z-index: 2;
  /* filter: grayscale(100%); */
  /* add this later when image is found */
}

.item-container {
  width: 45%;
}

.search-items img {
  width: 60%;
  display: block;
  margin: 10px auto;
}

.background-container {
  min-width: 78%;
  height: auto;
  position: relative;
  /* border: solid 10px #073B4C; */
  border: solid 1rem gray;
  border-radius: 10px;
  background: white;
  z-index: 2;
}

.instructions-container {
  height: 580px;
  font-size: 2.3rem;
  font-family: 'Quicksand', sans-serif;
  line-height: 1.5;
}

.instructions {
  position: absolute;
  width: 83%;
  left: 10%;
  top: 15%;
}

.images-to-find {
  position: absolute;
  width: 10%;
}



/* MODAL */

.modal-background {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.close {
  width: 8%;
  position: absolute;
  right: 2%;
  top: 2%;
}

@media screen and (max-width: 1025px) {
  .title {
    font-size: 7rem;
  }

  .tabs {
    height: 72px;
  }

  .mute, .reset {
    width: 4rem;
    height: 4rem;
  }

  .instructions-container {
    height: 400px;
  }

  .instructions {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 930px) {
  .title {
    font-size: 6rem;
    width: 300px;
    text-align: center;
  }

  .tabs {
    height: 55px;
  }

  .tabs img {
    margin: 10px auto;
  }

  .mute, .reset {
    width: 3.5rem;
    height: 3.5rem;
  }

  .mute {
    margin-right: 0;
  }

  .instructions-container {
    height: 300px;
  }

  .instructions {
    font-size: 1.2rem;
  }
}